*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
    width: 100%;
}

body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.background{
    display: flex;
    height: 100%;
    background-color: rgb(15, 30, 30);
    justify-content: center;
    align-items: center;
    
}

.form-outline{
    display: flex;
    height: 750px;
    width: 900px;
    background-color: rgb(255, 255, 255);
    
}

.img-logo{
    display: flex;
    flex-direction: column;
    height: 750px;
    align-items: center;
    justify-content: center;
    
    
}

#fallout{
    height: 750px;
    width: auto;
}

.img-logo > .logo {
    display: flex;
    background: rgba(69, 255, 13, 10);
    position: fixed;
    width: 389px;
    height: 40px;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    margin-TOP: 80px;
    font-family: VT323;
    font-size: 40px;
}


.sign-up-area{
background-color: rgb(226, 217, 217);  
width: 480px;
}

.welcome-box{
    height: 270px;
    background-color: blue;
}

.sign-up-form{
    height: 270px;
    background-color: rgb(167, 32, 145);
}

.sign-in-footer{
    height: 210px;
    background-color: rgb(221, 185, 94)
}